.button {
	width: 250px;
	min-height: 40px;
	border-radius: 5px;
	background-color: #393939;
	color: #fff;
	transition: 0.3s;
}

.button:hover {
	background-color: #4e4e4e;
}

.button:active {
	background-color: #767575;
}
